<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/bulma.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                myCrypto
            </div>
        </header>
        
        <section class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                
                  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a href="/principal" class="navbar-item">Inicio</a>
                    <a href="/purchase" class="navbar-item">Compra</a>
                    <a href="/status" class="navbar-item">Status</a>
                    </div>
                </div>
            </nav>
            {% block container%}
               
            {% endblock %}
        </section>
            
        
    </body>




    <footer>
        <div class="container">
            {% block footer %}
            &copy; 2020 - Todos los derechos reservados
            {% endblock %}
        </div>
                
    </footer>
        

    
</html>