{% extends "base.html" %}
{% block title %} Movimientos {% endblock %}
{% block container %} 

    {% with missatges = get_flashed_messages() %}
        {% if missatge %}
        <section class="errors">
            <ul>
            {% for missatge in missatges %}
            <li class="error-miss">{{ missatge }}</li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
    {% endwith %}

    <div class="titol">
        <h1>Movimientos</h1>
    </div>    
            {% if moviments %}
            <table class="taula_moviments">
                <div class="capcelera_form">
                    <tr class="tabla_mv_cabecera_a">
                        <div class="columns">
                            <div class="column">
                                <div class="form_column">
                                    Fecha
                                </div>
                            </div>
                            <div class="column">
                                <div class="form_column">
                                    Hora
                                </div>
                            </div>
                            <div class="column">
                                <div class="form_column">
                                    Moneda origen
                                </div>
                            </div>
                            <div class="column">
                                <div class="form_column">
                                    Cantidad
                                </div>
                            </div> 
                            <div class="column">
                                <div class="form_column">
                                    Moneda destino
                                </div>
                            </div>
                            <div class="column">
                                <div class="form_column">
                                    Cantidad
                                </div>
                            </div>
                            <div class="column">
                                <div class="form_column">
                                    P.U
                                </div>
                            </div> 
                        </div>
                    </tr>
                </div>

                {% for movimento in moviments %}
                <tr class="tabla_mv_cabecera">
                    <div class="columns">
                        <div class="column">
                            {{ movimento[0] }}
                        </div>
                        <div class="column">
                            {{ movimento[1] }}
                        </div>
                        <div class="column">
                            {{ movimento[2] }}
                        </div>
                        <div class="column">
                            {{ movimento[3] }}
                        </div>
                        <div class="column">
                            {{ movimento[4] }}
                        </div>
                        <div class="column">
                            {{ movimento[5] }}
                        </div>
                        <div class="column">
                            {{ movimento[6] }}
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if not moviments %}
            <div class="titolmoviments">
                <p>No existen movimientos registrados en la tabla</p>
            </div>
            {% endif %}



            <p class="accions">
                <a href='/purchase' class="button is-warning is-focused">Añadir</a>
            </p>      
{% endblock%}