<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto | Movimientos</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/bulma.css">
    </head>

    <body>
        <header>
            <div class="container">
                myCrypto
            </div>
        </header>
        {% with missatges = get_flashed_messages() %}
            {% if missatge %}
            <section class="errors">
                <ul>
                    {% for missatge in missatges %}
                        <li class="error-miss">{{ missatge }}</li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        {% endwith %}




        <section class="container">
            
            <h1>Movimientos</h1>

            
                <table class="taula_moviments">
                    <tr class="tabla_mv_cabecera">
                        <div class="columns">
                            <div class="column">
                                Fecha
                            </div>
                            <div class="column">
                                Hora
                            </div>
                            <div class="column">
                                From
                            </div>
                            <div class="column">
                                Q
                            </div> 
                            <div class="column">
                                To
                            </div>
                            <div class="column">
                                Q
                            </div>
                            <div class="column">
                                P.U
                            </div> 
                        </div>
                    </tr>

                    {% for movimento in moviments %}
                    <tr class="tabla_mv_cabecera">
                        <div class="columns">
                            <div class="column">
                                {{ movimento[0] }}
                            </div>
                            <div class="column">
                                {{ movimento[1] }}
                            </div>
                            <div class="column">
                                {{ movimento[2] }}
                            </div>
                            <div class="column">
                                {{ movimento[3] }}
                            </div>
                            <div class="column">
                                {{ movimento[4] }}
                            </div>
                            <div class="column">
                                {{ movimento[5] }}
                            </div>
                            <div class="column">
                                {{ movimento[6] }}
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="accions">
                <a href='/purchase' class="button is-primary is-rounded">Añadir</a>
            </p>
            


        </section>
        <footer>
            <div class="container">
                &copy; 2020 - Todos los derechos reservados
            </div>
            
        </footer>
    </body>
</html>