{% extends "base.html" %}
{% block title %}Compra de Cripto {% endblock %}
{% block container %} 

        
            

            <h1>Compra de Cripto</h1>

            <form action="" method="post">
                <div class="columns">
                    <div class="column is-5">
                        <label class="label" name="from_coin" id="from_coin" >From:</label>
                        <div class="control">
                            <div class="select">
                                <select name="from_coin" id="from_coin" value="from_coin">
                                    <option value="EUR">EUR</option>
                                    <option value="ETH">ETH</option>
                                    <option value="BNB">BNB</option>
                                    <option value="LUNA">LUNA</option>
                                    <option value="SOL">SOL</option>
                                    <option value="BTC">BTC</option>
                                    <option value="BCH">BCH</option>
                                    <option value="LINK">LINK</option>
                                    <option value="ATOM">ATOM</option>  
                                    <option value="USDT">USDT</option>
                                </select>
                            </div>
                            <p class="help">Escoge una moneda</p>
                        </div>
                    </div>
            
                

                    <div class="column is-12">
                        <label class="label" name="to" id="to">To:</label>
                            <div class="control">
                                <div class="select">
                                    <select name="to" id="to" value="to">
                                        <option value="EUR">EUR</option>
                                        <option value="ETH">ETH</option>
                                        <option value="BNB">BNB</option>
                                        <option value="LUNA">LUNA</option>
                                        <option value="SOL">SOL</option>
                                        <option value="BTC">BTC</option>
                                        <option value="BCH">BCH</option>
                                        <option value="LINK">LINK</option>
                                        <option value="ATOM">ATOM</option>
                                        <option value="USDT">USDT</option>
                                    </select>
                                </div>
                                <p class="help">Escoge una moneda</p>
                            </div>
                    </div>
                </div>


                    <div class="columns">
                        <div class="column is-5">
                            <label class="label ">Cantidad</label>
                            <div class="control">
                                <input class="input" type="number" placeholder="Cantidad" name="cantidadf" id="cantidadf">
                            </div>
                            <p class="help">Introduce la cantidad de la moneda que deseas gastar</p>
                        </div>

                        <div class="column is-12">
                            <div class="box">
                                <label class="label" name="cantidadt" id="cantidadt" >Cantidad</label>
                                    I'm in a box.
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-5">
                            <input type ="submit" name="action" value="Calcular">
                        </div>

                        <div class="column is-12">
                            <div class="box" name="preciounidad" id="preciounidad">
                                <label class="label">Precio Unidad</label>
                                   {{ exchangerate }}
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-5" name="borrar" id="borrar">
                            <button class="button is-primary">Borrar</button>
                        </div>

                        <div class="column is-12" name="ok" id="ok" >
                            <button class="button is-primary">Guardar</button>
                        </div>
                    </div>
            </form>
{% endblock %}  
