<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myCrypto | Compra</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/bulma.css">
    </head>
    <body>
        <header>
            <div class="container">
                myCrypto
            </div>
        </header>

        <section class="container">
            <nav>Inicio </nav>

            <h1>Compra de Cripto</h1>

            <form action="/purchase" method="post"></form>
                <div class="columns">
                    <div class="column is-5">
                        <label class="label" name="from" id="from" >From:</label>
                        <div class="control">
                            <div class="select">
                                <select name="from" id="from">
                                    <option value="EUR">EUR</option>
                                    <option value="ETH">ETH</option>
                                    <option value="BNB">BNB</option>
                                    <option value="LUNA">LUNA</option>
                                    <option value="SOL">SOL</option>
                                    <option value="BTC">BTC</option>
                                    <option value="BCH">BCH</option>
                                    <option value="LINK">LINK</option>
                                    <option value="ATOM">ATOM</option>
                                    <option value="USDT">USDT</option>
                                </select>
                            </div>
                            <p class="help">Escoge una moneda</p>
                        </div>
                    </div>
            
                

                    <div class="column is-12">
                        <label class="label" name="to" id="to">To:</label>
                            <div class="control">
                                <div class="select">
                                    <select name="to" id="to">
                                        <option value="EUR">EUR</option>
                                        <option value="ETH">ETH</option>
                                        <option value="BNB">BNB</option>
                                        <option value="LUNA">LUNA</option>
                                        <option value="SOL">SOL</option>
                                        <option value="BTC">BTC</option>
                                        <option value="BCH">BCH</option>
                                        <option value="LINK">LINK</option>
                                        <option value="ATOM">ATOM</option>
                                        <option value="USDT">USDT</option>
                                    </select>
                                </div>
                                <p class="help">Escoge una moneda</p>
                            </div>
                    </div>
                </div>


                    <div class="columns">
                        <div class="column is-5">
                            <label class="label ">Cantidad</label>
                            <div class="control">
                                <input class="input" type="number" placeholder="Cantidad" name="cantidadf" id="cantidadf" step="'0.01" min="0.01">
                            </div>
                            <p class="help">Introduce la cantidad de la moneda que deseas gastar</p>
                        </div>

                        <div class="column is-12">
                            <div class="box">
                                <label class="label" name="cantidadt" id="cantidadt" >Cantidad</label>
                                    I'm in a box.
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-5">
                            <button class="button is-primary" name="calcular" id="calcular" >Calcular</button>
                        </div>

                        <div class="column is-12">
                            <div class="box" name="preciounidad" id="preciounidad">
                                <label class="label">Precio Unidad</label>
                                    I'm in a box.
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-5" name="borrar" id="borrar">
                            <button class="button is-primary">Borrar</button>
                        </div>

                        <div class="column is-12" name="ok" id="ok" >
                            <button class="button is-primary">Guardar</button>
                        </div>
                    </div>

            </form>
    </section>



    <footer>
        <div class="container">
            &copy; 2020 - Todos los derechos reservados
        </div>
            
    </footer>
    

    </body>
</html>