:root {
    --color-primario: #dea057;
    --color-secundario: #CE9461;
    --negro: #2c363f;
    --blanco: #fafafa;
    --separacion_defecto: 20px;
   
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: var(--separacion_defecto);
    font-size: 48px;
    background-color: var(--color-primario);
    color: var(--blanco);
    margin: var(--separacion_defecto);
    bottom: 10px;
    text-align: center;
    
}

div.titol {
    text-align: center;
    font-size: 38px;
    font-weight:  600;
    margin: 30;
    padding: auto;
    

}

div.nav_bar {
    text-align: center;


}

div.form_column {
    font-weight: 700;
    text-align: justify;

}



footer {
    padding: var(--separacion_defecto);
    font-size: 24px;
    background-color: var(--color-secundario);
    color: var(--blanco);
    margin: var(--separacion_defecto);
    width: 100%;
    position: absolute;
    bottom: 10px;

}


.accions {
    text-align: right;
   

}

.field  {

    margin: 10px

}





