:root {
    --color-primario: #dea057;
    --color-secundario: #CE9461;
    --negro: #2c363f;
    --blanco: #fafafa;
    --separacion_defecto: 20px;
   
}

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: var(--separacion_defecto);
    font-size: 38px;
    background-color: var(--color-primario);
    color: var(--blanco);
    margin: var(--separacion_defecto);
    
}

div.titol {
    text-align: center;
    font-weight:  bold;
}


footer {
    padding: var(--separacion_defecto);
    font-size: 24px;
    background-color: var(--color-secundario);
    color: var(--blanco);
    margin: var(--separacion_defecto);

}

footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.accions {
    text-align: right;
   

}

.field  {

    margin: 10px

}



